
$c:#333;
$hc:#efa758;
$r:#da0404;
$bg:#f5f5f5;

a:hover{
    text-decoration: none;
}
.tax-blogs_category{
    .top_panel{
        margin-bottom: 0;
    }
}
.all-article-list h3 {
    position: relative;
    font-size: 0.8889rem;
    font-weight: 700;
    color: #da0404;
    margin-bottom: 1.9444rem;
    margin-top: 2.2222rem;

    span{
        position: relative;
        text-transform: uppercase;
        padding-right:0.5556rem;
        background-color: #fff;
        z-index: 2;
        color:$r;
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        background-color: #ececec;
        z-index: 1;
    }
}
.page-template-page-blogs,.tax-blogs_category{
    .content{
        width: 100%!important;
    }
    .top_panel{
        margin-bottom: 4rem;
    }
}
.all-article-list {
    .newsPage-content{
        padding: 1.1111rem 0.8333rem;
        margin-bottom: 1.6667rem;
        box-shadow: #e3e3e3 0 0 5px;
        .newsPage-imgBox{
            position: relative;
            overflow: hidden;
            &::after{
                content:'';
                position: absolute;
                left: 0;
                right: 0;
                width:100%;
                height: 100%;
                    opacity: 0;
                transition: opacity .2s;
                background: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5));
            }
        }
        &:hover{
            .newsPage-imgBox{
                &::after{
                    opacity: 1;
                }
            }
        }
        .newsPage-item{
             .newsPage-img{
                padding-left:0;
                img{
                    width: 100%;
                }
            }
            a{
                &:hover{
                    text-decoration: none;
                    color: $c;
                    h5{
                        color: #efa758;
                    }
                }
            }
            h5{
                margin: 0;
                font-size: 1.1111rem;
                font-weight: 700;
                color: #333;
                transition: color .2s;
                margin-bottom: 5px;
                transition: color .2s;
            }
            
        }

    }
}
// 分类第一列样式
.recommond{
    font-size: 0;
    border-bottom: #ececec solid 4px;
    .newsPage-content{
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;
        .newsPage-item {
            h5{
                font-weight: normal;
                margin: 0.625rem 0;
            }
        }
    }

}

// blogs详情样式
.sidebar_left.single-blogs .content{
    float: left;
}
.mt-featured-snippet {
    padding: 1.1111rem 1.6667rem;
    background-color: #f5f5f5;
    box-shadow: #ccc 0 0 2px;
    
    >ol {
        padding: 0.8333rem 0;
        margin: 0;
        list-style: none;
        counter-reset: count 0;
        >li {
            font-size: 1rem;
            color: #777;
            text-indent: -1.5em;
            line-height: 1.8em;
            padding-left: 2.5em;
            counter-increment: count;
            &::before {
                display: inline-block;
                content: counter(count) ".";
                width: 1.5em;
                font-weight: 700;
                color: #333;
                text-align: right;
                padding-right: 1em;
            }
        }
    }
    h3 {
        position: relative;
        font-size: 1.2222rem;
        padding: .625em 1em .625em 1.875em;
        margin: 0;
        border: #ccc solid 1px;
        background-color: #fff;
        &::after{
            position: absolute;
            font-family: FontAwesome;
            content: "\f02e";
            font-size: 180%;
            color: red;
            top: -0.4444rem;
            left: 0;
        }
    }
}

.wpb_text_column{
    h2{
        font-size: 1.5556rem;
        font-weight: 700;
        padding: 1.1111rem 0 0.5556rem ;
        border-bottom: 3px solid #999;
    }
    p{
        line-height: 1.6667rem;
        margin: 1.1111rem 0!important;
    }
}

.article-nav-list-box{
    position: fixed;
    top: 100px;
    width: 340px;
    visibility: hidden;
    h4{
        position: relative;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 0 8px 20px;
        margin-bottom: 20px;
        border-top: 2px solid #e5e5e5;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        &::before{
            display: inline-block;
            position: absolute;
            content: "";
            width: 6px;
            height: 18px;
            background-color: #d81c1b;
            top: 10px;
            left: 0;
        }
    }
    .article-nav-list{
        font-size: 14px;
        border-left: 1px solid #ccc;
        padding: 10px 0;
        li{
            position: relative;
            padding: 0 20px;
            margin-bottom: 10px;
            list-style: none;
            a{
                color: #555;
            }
            &::before{
                display: inline-block;
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ccc;
                top: 6px;
                left: -4px;
            }
        }
    }
}


// 产品分类页面
.all-product-list{
    .newsPage-content{
        margin-bottom: 30px;
         .newsPage-item{
            padding:1.25rem;
            overflow: hidden;
            background: url('/wp-content/uploads/2020/05/product-card-bg.jpg') center center no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            position: relative;
            overflow: hidden;
            &:hover{
                .newsPage-back-info{
                    &::before{
                         -ms-transform: skewX(20deg) translateX(10px);
                        transform: skewX(20deg) translateX(10px);
                    }
                }
                .newsPage-imgBox{
                    img{
                        transform: scale(1.1);
                    }
                }
                   
            }
            .newsPage-imgBox{
                overflow: hidden;
                img{
                    width: 100%;
                    transition: all .25s;
                }
            }
            .badge{
                display: inline-block;
                padding: .5em .4em;
                font-size: .8em;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25rem;
            }
            .newsPage-back-info {
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    padding-top: .625rem;
                    padding-bottom: .625rem;
                    left: -1.25rem;
                    text-align: left;
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    min-height: 4.5rem;
                    margin: 0 0 .809rem 0;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -10%;
                    width: 110%;
                    height: 100%;
                    display: block;
                    z-index: 1;
                    background-color: rgba(73,73,73,.65);
                    -ms-transform: skewX(20deg);
                    transform: skewX(20deg);
                    border-radius: .625rem;
                    transition: all .25s;
                }
                h5{
                    margin: 0.625rem 0;
                    color:#fff;
                    z-index: 1;
                }
            }
        }
    }
   
}
.page-template-page-products .content_wrap,.single-post .content_wrap,.category .content_wrap{
    width: 100%;
	padding-left:130px;
	padding-right:130px;
}
.page-template-page-products .content, .single-post  .content,.category .content { width:auto!important; max-width:100%; }
.page-template-page-products.sidebar_right .content, .single-post.sidebar_right  .content,.category.sidebar_right  .content { padding-right: 410px; width: 100%!important;}
.page-template-page-products.sidebar_right .sidebar, .single-post.sidebar_right  .sidebar ,.category.sidebar_right  .sidebar{ margin-left: -370px;left: 130px!important; }
.page-template-page-products.sidebar_left  .content, .single-post.sidebar_left  .content,.category.sidebar_left .content { padding-left:  410px; width: 100%!important;}
.page-template-page-products.sidebar_left  .sidebar, .single-post.sidebar_left  .sidebar,.category.sidebar_left .sidebar { margin-right:-370px;left: 130px!important; }

.accordion{
    margin-top: 60px;
}
.card{
    .card-header{
        h2{
            margin-top: 0;
            button{
                background-color: $bg;
                color:$c;
                font-weight: bold;
                text-decoration: none;
                &:hover{
                    background-color: $bg;
                }
            }
        }
    }
}


// 产品详情页面

.slider_container{
    
     .slide_overlay{
        background-color: transparent!important;
        &:hover{
            background-color: transparent!important;  
        }
     }
    .slide_info{
        bottom: 0!important;
        padding:3em 2em!important;
        width: 100%!important;
        background: linear-gradient(to top, rgba(0,0,0,0.4) , rgba(0,0,0,0));
    }
}
.trx_addons_video_player.with_cover .video_embed{
    .wp-video{
        width: 100%!important;
        height: 100%!important;
    }
}

//产品详情的table切换
.wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tabs-list{
    text-align: center;
    padding: 6px 0 0!important;
    margin-top: 5px;
    border-bottom: 1px solid #e5e5e5;
     .vc_tta-tab{
         margin-right:40px;
         &.vc_active{
            >a{
                 border-color: transparent;
                border-bottom:3px solid #f7b72f!important;
                background-color: transparent!important;
            }
         }
         >a{
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            color: #131313;
            font-size: 12px;
            font-weight: bold;
            border-color: transparent;
            background-color: transparent;
            padding: 0.5em 0.1em!important;
            &:hover{
                background-color: transparent;
            }
         }
     }
}
.wpb-js-composer .vc_tta-tabs {
    .vc_tta-panels-container{
        .vc_tta-panels{
            background-color: transparent!important;
            border-color: transparent!important;
            .vc_tta-panel-body{
                .headline-small{
                    font-weight: normal;
                    font-size: 23px;
                    span{
                        position: relative;
                        padding-bottom: 20px;
                        &::after{
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: #e5e5e5;
                            position: absolute;  
                            left:0;   
                            bottom:0;    
                        }
                    }
                    
                }
                >.wpb_text_column{
                    margin-bottom: 60px!important;
                }
                >.vc_row{
                    margin-bottom: 60px!important;
                }
            }
            .vc_row{
                &.none-line{
                     .wpb_wrapper{
                        
                        h3{
                            padding-left: 0;
                            &::before{
                                display: none;
                            }
                        }
                    }
                     .vc_col-sm-6{
                        .vc_column-inner{
                            >.wpb_wrapper{
                                border-bottom:none;
                            }
                        }
                    }
                }
                .wpb_wrapper{
                    .wpb_single_image{
                        
                        &+.sc_title{
                            h3{
                                padding-top:25px;
                                margin-left: 25px;
                                margin-right: 25px;
                            }
                            &+.wpb_text_column{
                                padding:0 25px 25px 25px;
                            }
                        }
                    }
                    h3{
                        font-size: 18px;
                        line-height: 1.8;
                        padding-left: 25px;
                        font-weight: normal;
                        &::before{
                            content: "";
                            position: absolute;
                            margin-right: 6px;
                            margin-top: 8px;
                            margin-left: -25px;
                            display: inline-block;
                            background-color: #bbd03a;
                            vertical-align: middle;
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
                .vc_col-sm-6{
                    .vc_column-inner{
                        >.wpb_wrapper{
                            padding-bottom: 1.5em;
                            border-bottom: 1px solid #e5e5e5;
                        }
                    }
                }
                
            }
        }
    }  
}
.wp-video-shortcode video, video.wp-video-shortcode,.wp-video{
    width: 100%!important;
}
.relative-pro{
    h3{
        font-weight: normal;
        font-size: 23px;
        text-align: center;
        margin-top: 0;
    }
    .product-a{
        display: block;
        h5{
            margin-top: 25px;
            margin-bottom: 20px;
        }
    }
    .relative-btn{
        padding: 13px 37px;
        border: 1px solid #131313;
        background: 0 0;
        color: #131313;
        transition: border-color .5s ease,color .5s ease;
        border-radius: 0;
        line-height: 1.5em;
        font-size: 13px;
        display: inline-block;
        &:hover{
            border-color: #f7b72f;
        }
    }
}
.single-post{
    &.scheme_default table{
        width: 100%!important;
        height: 100%!important;
        tr{
            height: auto!important;
            td{
                border:none;
                width: auto!important;
                height: auto!important;
                font-size: 0.8em;
                padding: 0.6em 1em
            }
        }
        
    } 
    .box-shadow{
        .vc_column-inner{
            > .wpb_wrapper{
                box-shadow: 0 7px 22px rgba(19,19,19,.08);
            }
        } 
    }
}
.wpb-js-composer.single-post .vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active .vc_tta-panel-body{
    overflow: visible;
}

// 分页的样式
.wp-pagenavi{
    text-align: center;
    padding-top: 30px;
}
.wp-pagenavi a, .wp-pagenavi span {
    &:hover,&:focus,&.current{
        border-color: #ff0000!important;
        color:#ff0000;
    }
}
.wp-pagenavi>* {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 26px;
    padding: 0!important;
    text-align: center;
}

.sc_layouts_title_title{
    .sc_layouts_title_description{
        display: none;
    }
}
.page-id-1220.logged-in{
    .content{
        width: 100%!important;
        .sc_item_title {
            margin-bottom: 60px;
        }
        .sc_item_button {
             margin-top: 60px;
        }
    }
}

@media (max-width: 767px) {
    .page-template-page-products,.single-post ,.category {
        &.sidebar_left{
            .sidebar{
                display: none;
            }
        }
    }
}

@media (max-width: 481px){
    .page-template-page-products,.single-post ,.category {
        .content_wrap{
            padding-left: 0;
            padding-right: 0;
            .content{
                padding-left: 0;
                .col-12{
                    padding-left: 0;
                    padding-right: 0;
                }
                .row{
                    margin-right: 0;
                }
                .accordion{
                    margin-top: 30px;
                }
            }
        }
    }
}